*.user
*.suo
obj
bin
candidate images
/packages
/.vs/Engine3D/v15/Server/sqlite3/db.lock
/.vs/Engine3D/v15/Server/sqlite3/storage.ide
/Raytracer/.vs/Raytracer/v15/Server/sqlite3/db.lock
/Raytracer/.vs/Raytracer/v15/Server/sqlite3/storage.ide
/Raytracer/ClientBin
/Raytracer/*.3DS
/Engine3D/Engine3D-Tests/baseline images/raytrace/400x400
/Engine3D/Engine3D-Tests/baseline images/raytrace/50x50/*.bmp
TestResults
3dModels
3dRenders
Bin
cache
/ModelLibrary/website.publishproj
/ModelLibrary/UpgradeLog.htm
/ModelLibrary/App_Data/PublishProfiles/3dmodels_azure.pubxml
/ModelLibrary/App_Data/PublishProfiles/3dmodels_arvixe.pubxml
/ModelLibrary/App_Data/PublishProfiles
/ModelLibrary/2018March-AllTests.coveragexml
/ModelLibrary/.vs/ModelLibrary/v15/Server/sqlite3/storage.ide-wal
/ModelLibrary/.vs/ModelLibrary/v15/Server/sqlite3/storage.ide-shm
/ModelLibrary/.vs/ModelLibrary/v15/Server/sqlite3/storage.ide
/ModelLibrary/.vs/ModelLibrary/v15/Server/sqlite3/db.lock
/ModelLibrary/.vs/ModelLibrary/v15/Server/sqlite3
/ModelLibrary/.vs/ModelLibrary/DesignTimeBuild/.dtbcache
/ModelLibrary/.vs/ModelLibrary/DesignTimeBuild
/ModelLibrary/.vs/ModelLibrary
/ModelLibrary/.vs/config/applicationhost.config
/Engine3D/Engine3D-Tests/Lorena_5000.3ds
/Engine3D/Engine3D-Tests/Girl N270309.3ds
/Engine3D/Engine3D-Tests/013dmodel-car-Corvette-Chevrolet.3DS
